.App {
  text-align: center;
}

.d-p-none {
  display: none;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.header {
  border-radius: 10px 10px 0 0;
  background: #302e31;
  /* box-shadow: 0 2px 1px -1px #302e3150, 0 1px 1px 0 #302e3150; */
  align-items: center;
  padding: 0 10px;
  margin-bottom: 0.15rem
}

.os-form-wrapper {
  border-left: 0.5px #302e3145 solid;
  border-right: 0.5px #302e3145 solid;
  border-bottom: 0.5px #302e3145 solid;
  box-shadow: 0 1px 1px -1px #302e3142, 0 0px 1px 0 #302e3145, 0 1px 1px 0 #302e3150;
}

.p-button.themed-button {
  color: #e0b605;
}

.os-header .p-button.themed-button {
  color: #302e31;
  border: none;
}

.os-header .p-button.themed-button:hover {
  color: #e0b605;
  border: none;
}

.p-selectbutton .p-button.p-highlight {
  background: #302e31;
  color: #e0b605;
  border-color: #f1ab118f;
}

.p-selectbutton .p-button.p-highlight:hover {
  border-color: #f1ab11;
  background: #f1ab11ab;
}

.p-selectbutton .p-button.p-highlight:focus {
  box-shadow: 0 0 0 0.1rem #f1ab11ab !important;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media print {

  .hide-on-print,
  .hide-on-print * {
    display: none !important;
  }
}

@media (max-width: 380px) {

  .button-sm {
    padding: 8px;
  }
}

@keyframes fadeInAnimation {
  0% {
    transform: scale(0);
  }

  99% {
    transform: scale(1);
  }
}

.fade-in {
  animation: fadeInAnimation .2s 1 0s linear;
}